#wrapper {
    margin-left: auto;
    margin-right: auto;
}

.underscore {
    color: white;
    font-family: Oswald;
    margin: 0;
    padding: 0;
}

.jumbotron {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  font-family: georgia;
}

.jumbotron-about {
    background-image: url(images/Shauna4.jpg);
    background-position: top;
}

.jumbotron-testimonials {
    background-image: url(images/Bathroom.jpg);
}

.jumbotron-contact {
    background-image: url(images/Kitchen.jpg);
}

.main-page {
    background-image: url("images/Shauna.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-family: georgia;
}

.h3 {
    margin: 20px;
}

.card {
    margin-bottom: 20px;
}

.button {
    vertical-align: middle;
    text-align: center;
}

.row {
    padding: 20px;
    text-align: center;
}

.col {
    padding: 20px;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    #wrapper {
        width: 315px;
    }
}

@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */
    #wrapper {
        width: 475px;
    }
}

@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    #wrapper {
        width: 595px;
    }
}

@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    #wrapper {
        width: 795px;
    }
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    #wrapper {
        width: 1000px;
    }
}

@media (min-width:1281px) { /* hi-res laptops and desktops */
    #wrapper {
        width: 1200px;
    }
}